<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Async Await">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
        
        <title>
            {% if title %}
                Async Await | {{ title }}
            {% else %}
                Async Await
            {% endif %}
        </title>
    </head>
    <body>
        <header>
            <h1>Async Await</h1>
            <a href="/">archives</a>
            <a href="/about">about</a>
        </header>
        <main>
            {% if tags contains "post" %}
                <h2>{{ title }}</h2>
            {% endif %}
            {{ content }}
        </main>
    </body>
</html>