html,
body {
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

main {
    padding: 0px 16px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav {
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
}

nav > a{
    padding: 0px 16px;
}

.post-item
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.post-date
{
    align-self: end;
}

footer
{
    padding: 16px 0px;
    position: fixed;
    bottom: 0;
}